{% extends "base.html" %}

{% block title %}Trilhas de Aprendizagem | StudyRoom{% endblock %}

{% block conteudo %}

    <main class="trilhas-container">

        <h1 class="trilhas-titulo">Trilhas de Aprendizagem</h1>

        <div class="trilhas-grid">

            {% for trilha in trilhas %}

                <div class="card-trilha">

                    <span class="badge-nivel">{{ trilha[3] }}</span>

                    <h2>{{ trilha[1] }}</h2>

                    <p>{{ trilha[2] }}</p>

                    <a href="{{ url_for('trilha', trilha_id=trilha[0]) }}" class="btn-secundario">
                        Ver trilha
                    </a>

                </div>

            {% endfor %}

        </div>

    </main>

{% endblock %}